.alert-box{
    background-color: var(--color-yellow-300);
    color: var(--color-neutral-1000);
    border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
}
.alert-box i{
    color: var(--color-ochre-yellow);
    font-size: 3em;
}

.wrapper{
    padding: 2em;
}